{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Clientes {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes">
  <button onClick="location='{% url "form_cliente" %}'" type="button" class="btn btn-primary btn-sm">Inserir Novo</button>
  <button onClick="location='{% url "cliente" %}'" type="button" class="btn btn-primary btn-sm">Recarregar</button>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>C.P.F</th>
        <th>Data Nascimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for cliente in lista %}
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cpf }}</td>
        <td>{{ cliente.datanascimento }}</td>
        <td>
          
          <button 
              onClick="location='{% url 'novo_pedido' cliente.id %}'" 
              type="button" class="btn btn-primary btn-sm">Novo Pedido
          </button>
         
          <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-warning btn-sm">Editar</a>
 
          <a href="{% url 'remover_cliente' cliente.id %}" class="btn btn-danger btn-sm" 
          onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock conteudo %}